

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//phone styles


//banner section start
.banner{
    margin-top: -24px;
    background-color: dimgray;
    background-blend-mode: overlay;
    background-image: url(/img/banner.jpg\ 2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

      
    nav{
        margin: 10px 0px;
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right:20px ;

        img{
            height: 30px;
        }
        
        
        
        .hamburger{
            
        height: 30px;
        width: 30px;
        border: 2px solid rgb(164, 15, 30);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .line{
            height: 2px;
            width: 70%;
            background-color: rgb(164, 15, 30);
        }
    }}
    
  .nav-container{ 
    padding-top: 0 40px;      
    display: flex;
    height: 25vh;
    justify-content: space-evenly;
    width: 100%;
    align-content: center;
    

    .pc-nav{
        
        background-color: white;
        width: 80% ;
        height: 31%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 15px black;
        display: none;

        

        
        
        

        .nav-icons{
            background-color: brown;
            width: 3rem;
            height: 2.1rem;


        }

        .center{
                 justify-content: center;
                 text-align: center;
                 align-items: center;
            

            ul{
                gap: 70px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                a:hover{
                    color: black;
                    text-decoration: line-through;
                }

                a{
                    text-decoration: none;
                    font-weight: 500;
                    color: rgb(164, 15, 30);
                   


                    img{
                        height: 1rem;

                    
                    }
                }

               

               

            }
        }
    }
}

}
// banner section end

//why us section start
#why{
    margin: 5rem 0;

    .container{
        .row{
            .left1{
                
                img{
                    width: 100%;
                    height: 15.65rem;
                    
                    
                }

                .cards{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    margin-top: -4em;

                    .card{
                        width: 30%;
                        height: 15vh;
                        border-radius: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        background-color: rgb(164, 15, 30) ;
                        border: 2px solid white;
                        
                    }

                }
            }

            .right{
            
                display: flex;
                flex-direction: column;
                gap: 10px;

                .whyh3{
                    margin-top: 5px;
                    color: rgb(164, 15, 30);
                    
                }

                .why-text{
                    font-weight: 500;

                    span{
                        color: rgb(164, 15, 30);
                    }
                }

                .btn{
                    width: auto;
                    border-radius: 0;
                    border: 3px solid rgb(164, 15, 30);
                    color: rgb(164, 15, 30);
                    padding-top:-50px ;

                    a{
                        text-decoration: none;
                        color: rgb(164, 15, 30);
                        font-weight: 600;
                    }
                }

                .btn:hover{
                    background-color: rgb(164, 15, 30);

                    a{
                        color: white;
                    }
                }
            }

          
        }
    }
}
//why us end

//projects section start
#projects{
    padding: 1rem;
        
        .row{
            height: 100px;
            width: 100%;
            .left{
                background: rgb(164, 15, 30);
                height: 640px;
                width: 100%;
                color: white;
                display: flex;
                flex-direction: column;
                padding: 20px 50px;
                
               


                .projects-h2{

                    font-size: 60px;
                    font-weight: 500;
                }

                .projects-h3{
                    font-weight: 500;
                    font-size: 2rem;
                }

                .projects-text{
                    padding-top: 50px;
                    font-weight: 500;
                    width: 90%;
                    
                    .icons{
                        img{
                           
                            background-repeat: no-repeat;
                            
                        }
                    }
                }
            }

            
        }

        .rightt{
            
            
            .top-pictures{
               
                display: flex;
                height: fit-content;
                width: 100%;

                p{
                    font-size: 13px;
                    left: 15px;
                    margin-bottom:10rem ;
                }
                

                .pictures1{
                    background-image: url(/img/project\ 1.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 28.77vw;
                    height: 200px;
                    border: 1px solid rgb(164, 15, 30);
                    position: relative;
                    
                    

                    p{
                        position: absolute;
                        color: white;
                        font-weight: bold;
                        bottom:  10px;
                        left: 5px;
                    }

                  
                }
                .pictures2{
                    background-image: url(/img/project\ 2.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 28.77vw;
                    height: 200px;
                    border: 1px solid rgb(164, 15, 30);
                    position: relative;

                    p{
                        position: absolute;
                        color: white;
                        font-weight: bold;
                        bottom:  10px;
                        left: 5px;
                    }
                }
                .pictures3{
                    background-image: url(/img/project\ 3.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 28.77vw;
                    height: 200px;
                    border: 1px solid rgb(164, 15, 30);
                    position: relative;

                    p{
                        position: absolute;
                        color: white;
                        font-weight: bold;
                        bottom:  10px;
                        left: 5px;
                    }
                }
                .pictures4{
                    background-image: url(/img/project\ 4.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 28.77vw;
                    height: 200px;
                    border: 1px solid rgb(164, 15, 30);
                    position: relative;

                    p{
                        position: absolute;
                        color: white;
                        font-weight: bold;
                        bottom:  10px;
                        left: 5px;
                    }
                }
                .pictures5{
                    background-image: url(/img/project\ 5.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 28.77vw;
                    height: 200px;
                    border: 1px solid rgb(164, 15, 30);
                    position: relative;

                    p{
                        position: absolute;
                        color: white;
                        font-weight: bold;
                        bottom:  10px;
                        left: 5px;
                    }
                }
                .pictures6{
                    background-image: url(/img/project\ 6.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 28.77vw;
                    height: 200px;
                    border: 1px solid rgb(164, 15, 30);
                    position: relative;

                    p{
                        position: absolute;
                        color: white;
                        font-weight: bold;
                        bottom:  10px;
                        left: 5px;
                    }
                }

            }
            
        }
    //}
} 
//projects section end

//donations section start
#donations{
    margin: 60rem 0;
    width: 100%;
    height: 80vh;
    background-color: dimgrey;
    background-image: url(/img/donate.jpg);
    background-blend-mode: multiply;
    background-size: cover;

    .txt{
        
        padding-left: 3rem;
        padding-top: 10rem;
        color: white;

        .donations-h3{
            font-weight: 500;
            font-size: 40px;
            padding-bottom: 4rem;
        }

        

        .btns{
            gap: 10px;
            display: flex;

            form{
                input{
                    width: 10rem;
                    height: 40px;
                    background-color:transparent ;
                    border: 2px solid white;
                }

                input::placeholder{
                    color: white;
                }
            }

            form:hover{
                input{
                    border: 2px solid rgb(164, 15, 30);
                }

                input::placeholder{
                    color: white;
                }
            }

            a{
                color: white;
                text-decoration: none;
                display: flex;
                justify-content: left;
                
            }
            

           
            .btn1:hover{
                background-color: transparent;
            }

            .btn2{
                border-radius: 0;
                width: 30%;
                height: 40px;
                font-size: 15px;
                background: rgb(164, 15, 30);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;


            }
            .btn2:hover{
                    background: transparent;
                    border: 2px solid rgb(164, 15, 30);
                    
                }
        }

    }
    
    

}
// donations section end

// text section start
#text{height: 100vh;
    
     margin-top: -50rem;
   
    
    .text-container{
    border: 3px solid rgb(164, 15, 30);
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem auto;

    .text1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

         .text-h3{
            color: black;
            
        }

        .text-p{
            font-weight: 200;
            font-weight: 400;

        }

        
    }

   

    }
}
// text section end

//footer section start
#footer{    
    width: 100%;
    height: 520px;
    background-color: rgb(164, 15, 30);
    .container{
        .row{ padding-top: 30px;
            display: flex;
            color: white;
           .col-text{
           

            .footer-text{
                color: rgba(255, 255, 255, 0.567);
            }

            .bottom{
                
                .left{
                    display: flex;
                    gap: 5px;

                    .first{
                        size: 0cap;

                        
                    }
                    
                    .outer-circle{
                        position: relative;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #c4c4c4;

                        .inner-circle{
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            position: relative;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: black;
                        }
                    }
                    p{
                        color: white;
                        font-size: 13px;
                    }
                    
            }

           } 


        }
        
        .col-links{
            .column-text{
                display: flex;
                align-items: center;
                flex-direction: column;
                color: white;

                .footer-links{
                    padding-top: 10px;
                    gap: 5px;
                    color: white;
                    
                }
                .links{   
                    display: flex;
                    flex-direction: row;
                    gap: 8px;

                        a{
                            color: white;
                            text-decoration: none;
                            font-size: 15px;
                        }
                    
                
            }

            }
           }

           .col-pics{
            margin-top: 30px;
                    display: flex;
                     flex-direction: column;
                    align-items: center;
            h3{color: white;
                span{
                    text-decoration: underline;
                }
            }
            .footer-images{

                .row-img{                       
                    display: flex;
                    gap: 5px;

                    .img{
                        height: fit-content;
                        box-shadow: 0 0 7px black;
                    }
                }
            }
           }

    }
}
}
//footer section end








/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    #why{
        
        .container{
            .row{
                .left{
                    img{
                        height:30vh ;
                        width: 100%;
                    }
                    .cards{
                        display: flex;
                        justify-content: center;
                        gap: 2rem;
                        margin-top: -2em;
    
                        .card{
                            width: 12rem;
                            height: 9rem;  
                        }
    
                    }
                }
            }
        }
    }
}
    

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #why{
        .container{
            .row{
                .left{

                    img{
                        height: auto;
                    }
                    .cards{
                        display: flex;
                        justify-content: center;
                        gap: 1rem;
                        margin-top: -2em;
    
                        .card{
                            width: 9rem;
                            height: 9rem;  
                        }
    
                    }
                }
            }
        }
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
.banner{
        margin-top: -24px;
        background-color: dimgray;
        background-blend-mode: overlay;
        background-image: url(/img/banner.jpg);
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
          
            .mobile-nav{
                display: none;
            }

        
      .nav-container{ 
        padding-top: 40px;      
        display: flex;
        height: 25vh;
        justify-content: space-evenly;
        width: 100%;
        align-content: center;
        
    
        .pc-nav{
            
            background-color: white;
            width: 85% ;
            height: 31%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 0 15px black;
          
    
            
    
            
            
            
    
            .nav-icons{
                background-color: brown;
                width: 3rem;
                height: 3.1rem;
    
    
            }
    
            .center{
                     justify-content: center;
                     text-align: center;
                     align-items: center;
                
    
                ul{
                    gap: 70px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
    
                    a:hover{
                        color: black;
                        text-decoration: line-through;
                    }
    
                    a{
                        text-decoration: none;
                        font-weight: 500;
                        color: rgb(164, 15, 30);
                        font-size: 20px;
                       
    
    
                        img{
                            height: 2rem;
    
                        
                        }
                    }
    
                   
    
                   
    
                }
            }
        }
    }
    
    }
   
   
   
 //why us section start
#why{
    margin: 5rem 0;

    .container{
        .row{
            .left1{
                height: fit-content;
                img{
                    width: 100%;
                    height: 30.45rem;
                    
                    
                }

                .cards{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    margin-top: -4em;

                    .card{
                        width: 30%;
                        height: 20vh;
                        border-radius: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        background-color: rgb(164, 15, 30) ;
                        border: 2px solid white;
                        
                    }

                }
            }

            .right{
            
                display: flex;
                flex-direction: column;
                gap: -10px;

                .whyh3{
                    color: rgb(164, 15, 30);
                }

                .why-text{
                    font-weight: 500;

                    span{
                        color: rgb(164, 15, 30);
                    }
                }

                .btn{
                    width: fit-content;
                    border-radius: 0;
                    border: 3px solid rgb(164, 15, 30);
                    color: rgb(164, 15, 30);
                    padding-top:-50px ;

                    a{
                        text-decoration: none;
                        color: rgb(164, 15, 30);
                        font-weight: 600;
                    }
                }

                .btn:hover{
                    background-color: rgb(164, 15, 30);

                    a{
                        color: white;
                    }
                }
            }

          
        }
    }
}
//why us end

//projects section start
#projects{
    padding: 3rem;
    
    
    .container{
        
        .row{
            height: 70vh;
            .left{
                background: rgb(164, 15, 30);
                height: 600px;
                color: white;
                display: flex;
                flex-direction: column;
                padding: 20px 50px;
                
               


                .projects-h2{

                    font-size: 60px;
                    font-weight: 500;
                }

                .projects-h3{
                    font-weight: 500;
                    font-size: 2rem;
                }

                .projects-text{
                    padding-top: 50px;
                    font-weight: 500;
                    width: 90%;
                    
                    .icons{
                        img{
                            background-repeat: no-repeat;
                        }
                    }
                }
            }

            
        }

        .rightt{
           
            .top-pictures{
                display: flex;
                

                .pictures{
                    width:24.75vw;
                    height: 300px;
                }

                p{
                    font-size: 20px;
                }

                .pictures{
                    background-image: url(/img/project\ 1.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border: 1px solid rgb(164, 15, 30);
                    position: relative;
                    width: 50px;
                    

                    p{
                        position: absolute;
                        color: white;
                        font-weight: bold;
                        bottom:  10px;
                        left: 15px;
                    }

                    .pictures1:hover{

                        p{
                           bottom: 45px; 
                        }

                        
                    }
                }
                .pictures2{
                    background-image: url(/img/project\ 2.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border: 1px solid rgb(164, 15, 30);
                }
                .pictures3{
                    background-image: url(/img/project\ 3.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border: 1px solid rgb(164, 15, 30);
                }
                .pictures4{
                    background-image: url(/img/project\ 4.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border: 1px solid rgb(164, 15, 30);
                }
                .pictures5{
                    background-image: url(/img/project\ 5.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border: 1px solid rgb(164, 15, 30);
                }
                .pictures6{
                    background-image: url(/img/project\ 6.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;

                    border: 1px solid rgb(164, 15, 30);
                }

            }
            
        }
    }
} 
//projects section end

//donations section start
#donations{
    margin: 4rem 0;
    width: 100%;
    height: 80vh;
    background-color: dimgrey;
    background-image: url(/img/donate.jpg);
    background-blend-mode: multiply;
    background-size: cover;

    .txt{
        padding-left: 10rem;
        padding-top: 10rem;
        color: white;

        .donations-h3{
            font-weight: 500;
            font-size: 40px;
            padding-bottom: 4rem;
        }

        

        .btns{
            gap: 20px;
            display: flex;

            form{
                input{
                    width: 29rem;
                    height: 65px;
                    background-color:transparent ;
                    border: 2px solid white;
                }

                input::placeholder{
                    color: white;
                }
            }

            form:hover{
                input{
                    border: 2px solid rgb(164, 15, 30);
                }

                input::placeholder{
                    color: white;
                }
            }

            a{
                color: white;
                text-decoration: none;
                display: flex;
                justify-content: left;
                
            }
            

            .btn1{
                border: 2px solid white;
                width: 35%;
                height: 65px;
                border-radius: 0;
                padding-right: 10px;
                display: flex;
                justify-content: left;
                align-items: center;

            }

            .btn1:hover{
                background-color: transparent;
            }

            .btn2{
                border-radius: 0;
                width: 13%;
                height: 65px;
                background: rgb(164, 15, 30);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;


            }
            .btn2:hover{
                    background: transparent;
                    border: 2px solid rgb(164, 15, 30);
                    
                }
        }

    }
    
    

}
// donations section end

// text section start
#text{height: 60vh;
    margin-top: 180px;
   
    
    .text-container{
    border: 3px solid rgb(164, 15, 30);
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem auto;

    .text1{
        width: 70%;
        display: flex;
        text-align: center;

     

        .text-p{
            font-weight: 200;
            font-weight: 400;
        }
    }

   

    }
}
// text section end

//footer section start
#footer{ 
    width: 100%;
    height: 250px;
    background-color: rgb(164, 15, 30);
    .container{
        .row{ padding-top: 30px;
            display: flex;
            color: white;
           .col-text{
           

            .footer-text{
                color: rgb(255, 255, 255, 0.567);
            }

            .footer-text:hover{
                color: white;
            }

            .bottom{
                
                .left{
                    display: flex;
                    gap: 5px;

                    .first{
                        size: 0cap;

                        
                    }
                    
                    .outer-circle{
                        position: relative;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #c4c4c4;

                        .inner-circle{
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            position: relative;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: black;
                        }
                    }
                    p{
                        color: white;
                    }
                    
            }

           } 


        }
        
        .col-links{
            .column-text{
                display: flex;
                align-items: center;
                flex-direction: column;
                color: white;

                .footer-links{
                    gap: 5px;
                    color: white;
                    
                }
                .links{   
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                        a{
                            color: white;
                            text-decoration: none;
                        }
                    
                
            }

            a:hover{
                color: black
            }

            }
           }

           .col-pics{
                    display: flex;
                     flex-direction: column;
                    align-items: center;
            h3{color: white;
                span{
                    text-decoration: underline;
                }
            }
            .footer-images{

                .row-img{                       
                    display: flex;
                    gap: 5px;

                    .img{
                        height: fit-content;
                        box-shadow: 0 0 7px black;
                    }
                }
            }
           }

    }
}
}
//footer section end

}





/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}